html,
body {
    position: relative;
    height: 100%;
}

body {
    font-size: .28rem;
    background-color: #eef2f6;
}

.basic-info{
    position: relative;
    background-image: url('../images/report_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 6.1rem;
}
.basic-info .theme{
    position: absolute;
    top: 1.17rem;
    left: 0;
    right: 0;
}
.theme .name{
    width: 3rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .02rem;
    font-size: .32rem;
    color: #fff;
    position: relative;
    line-height: .3rem;
}
.theme .name::before{
    content: '';
    position: absolute;
    left: -.4rem;
    top: .14rem;
    width: .4rem;
    height: .02rem;
    background: #fff;
}
.theme .name::after{
    content: '';
    position: absolute;
    right: -.4rem;
    top: .14rem;
    width: .4rem;
    height: .02rem;
    background: #fff;
}
.basic-info .uer-info{
    position: absolute;
    top: 2.38rem;
    left: 2.3rem;
}
.uer-info .name{
    color: #212121;
    font-size: .32rem;
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
}
.uer-info .name .text{
    margin-right: .2rem;
}
.uer-info .name .img{
    width: .48rem;
    height: .26rem;
    font-size: 0;
}
.uer-info .name .img>img{
    height: 100%;
    width: 100%;
}
.uer-info .birth,.uer-info .report-type{
    display: flex;
    margin-bottom: .15rem;
}
.uer-info .birth .label,.uer-info .report-type .label{
    color: #909090;
}
.uer-info .birth .value,.uer-info .report-type .value{
    color: #545454;
}
.basic-info .report-info{
    position: absolute;
    top: 4.2rem;
    left: 0;
    width: 100%;
}
.report-info .item{
    width: 6.1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}
.report-info .item .left,.report-info .item .right{
    display: flex;
}
.report-info .item .label{
    color: #909090;
}
.report-info .item .value{
    color: #545454;
}
.preface{
    padding: .3rem .36rem .5rem .36rem;
    background-color: #fff;
}
.preface .top{
    font-size: .32rem;
    color: #212121;
    margin-bottom: .25rem;
}
.preface .bottom {
    font-size: .28rem;
    color: #212121;
    margin-top: .25rem;
    text-align: right;
}
.pra{
    padding: .37rem .36rem;
    background-color: #fff;
}
.pra .title{
    margin-bottom: .3rem;
    display: flex;
    align-items: center;
    font-size: .32rem;
    color: #212121;
    position: relative;
}
.pra .title .icon{
    width: .28rem;
    height: .28rem;
    font-size: 0;
    margin-right: .1rem;
} 
.pra .title .icon>img{
    width: 100%;
    height: 100%;
} 
.pra .title .sub{
    font-size: .24rem;
    color: #909090;
}
.pra .title .right{
    position: absolute;
    right: 0;
    font-size: .24rem;
    color: #838587;
    display: flex;
    align-items: center;
}
.pra .title .right .icon{
    width: .19rem;
    height: .19rem;
    font-size: 0;
    margin-right: .1rem;
}
.pra .title .right .icon>img{
    width: 100%;
    height: 100%;
} 
.pra ul,.pra ol{
    font-size: .28rem;
    color: #909090;
    margin: .14rem 0;
    line-height: .4rem;
}
.pra ul.title-3>li{
    color:#212121;
}
.pra p{
    margin: .14rem 0;
    text-indent: .44rem;
    line-height: .4rem;
    font-size: .28rem;
    color: #909090;
}

.pra .title-1{
    display: inline-block;
    background-color: #479cfc;
    font-size: .28rem;
    color: #ffffff;
    padding: .11rem .12rem;
    margin: .15rem 0;
}
.pra .title-2{
    margin: .1rem 0;
    color: #212121;
}

.pra a{
    color: #909090;
    text-decoration: none;
}
.disclaimer,.sense,.overview,.results,.evaluation,.advice,.regarding,.literature,.links{
    margin-top: .2rem;
}
.swiper-container{
    width: 100%;
    height: 4.55rem;
}
.swiper-wrapper{
    padding: .2rem 0;
}
.swiper-slide {
    background: #fff;
    width: 4.76rem;
    height: 4.15rem;
    padding: .27rem .19rem;
    box-sizing: border-box;
    box-shadow: 0 0 12px 3px #f8f8f8;
}
.sense-item .title{
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    font-size: .28rem;
    color: #479cfc;
}
.sense-item .title .icon{
    width: .4rem;
    height: .24rem;
    margin-right: .1rem;
    background-image: url('../images/science_count.png');
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    line-height: .24rem;
    font-size: .18rem;
} 
.sense-item .title .icon>img{
    width: 100%;
    height: 100%;
} 
.sense-item p{
    font-size: .24rem;
    line-height: .32rem;
}
.results table{
    width: 100%;
    color: #909090;
    border-collapse:collapse;
    font-size: .24rem;
}
.results table p{
    font-size: .24rem;
    margin: 0;
    padding: 0;
    text-indent: 0;
    color: #909090;
}
.results table tr{
    border-bottom: .02rem dashed #909090;
}
.results table tr:nth-child(1) td,.results table tr:nth-child(1) td p{
    color: #212121;
}
.results table tr:nth-child(1) td:nth-child(1){
    width: 1.6rem;
}
.results table tr td{
    text-align: center;
    font-size: .24rem;
    padding: .15rem 0;
}
.results .more{
    margin: .4rem auto 0 auto;
    width: 1.35rem;
    color: #479cfc;
    font-size: .24rem;
    display: flex;
    align-items: center;
}
.results .more img{
    width: .2rem;
    height: .12rem;
    margin-left: .1rem;
}
.evaluation .results-card{
    box-sizing: border-box;
    padding: .5rem;
    width: 100%;
    height: 2.92rem;
    border-radius: .12rem;
    margin: 0 auto;
    background-color: #3bb8fe;
    color: #fff;
    box-shadow: 0 0 15px 0 #3bb8fe;
}
.results-card .results{
    display: flex;
}
.results-card .results .item{
    flex: 1;
    text-align: center;
}
.results-card .results .v-line{
    width: .02rem;
    height: .98rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
}
.results-card .results .item .num{
    font-size: .5rem;
}
.results-card .results .item .text{
    font-size: .24rem;
    margin-top: .2rem;
}
.results-card .summary{
    width: 2.76rem;
    margin: 0 auto;
    height: .52rem;
    line-height: .52rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: .26rem;
    color: #fe504a;
    font-size: .24rem;
    margin-top: .28rem;
}
.evaluation .summary-text{
    font-size: .28rem;
    line-height: .4rem;
    color: #212121;
    margin: .4rem 0 .3rem 0;
}
.evaluation .remark .title{
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    font-size: .24rem;
    color: #479cfc;
}
.evaluation .remark .title .icon{
    width: .24rem;
    height: .24rem;
    margin-right: .1rem;
} 
.evaluation .remark .title .icon>img{
    width: 100%;
    height: 100%;
} 
.evaluation .remark .content{
    padding: .23rem;
	background-color: #f7f7f7;
}
.evaluation .risk{
    margin-top: .15rem;
}
.risk .table-name,.diagnosis .table-name{
    font-size: .24rem;
    color: #212121;
    text-align: center;
    line-height: .7rem;
}
.risk table,.diagnosis table{
    width: 100%;
}
.risk table td,.risk table th,.diagnosis table td,.diagnosis table th{
    height: .58rem;
    text-align: center;
    font-size: .24rem;
}
.risk table th,.diagnosis table th{
    background-color: #ecf4fe;
    color: #479cfc;
}
.risk table td,.diagnosis table td{
    background-color: #f7f7f7;
    color: #999999;
}
.diagnosis table.vertical td{
    text-align: left
}
.diagnosis table.vertical tr td:nth-child(1){
    background-color: #ecf4fe;
    color: #479cfc;
    font-size: .24rem;
    font-weight: bold;
}
.literature{
    position: relative;
    padding: .37rem .36rem .37rem 1.91rem;
    background-color: #fff;
    min-height: .37rem;
}
.literature .name{
    position: absolute;
    left: .36rem;
    top: .37rem;
    background-color: #ecf4fe;
    padding: .11rem;
    color: #479cfc;
    font-size: .28rem;
}
.literature .content{
    background-color: #f7f7f7;
    font-size: .24rem;
    color: #999;
    line-height: .3rem;
    padding: .2rem .2rem .2rem 0;
    position: relative;
}
.mui-ellipsis-3{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.literature .content a{
    text-decoration: none;
    color: #999;
}
.literature .content ol{
    margin: 0;
    box-sizing: border-box;
}
.literature .content ol li{
    word-wrap: break-word;
}
.literature .content .inner-btn{
    position: absolute;
    z-index: 999;
    right: .2rem;
    bottom: .2rem;
    padding: 0 .2rem;
    background: linear-gradient(to right, rgba(247,247,247,0.85) 10% , rgba(247,247,247,1));
}
.links .classification .name{
    position: relative;
    font-size: .28rem;
    color: #479cfc;
    padding: 0 0 0 .15rem;
}
.links .classification .name::before{
    content: "";
    position: absolute;
    top: .03rem;
    left: 0;
    width: .04rem;
    height: .22rem;
    background-color: #479cfc
}
.classification-wrap{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-bottom: .4rem;
}
.classification-wrap .item{
    width: 50%;
    height: .9rem;
}
.classification-wrap .item .content{
    width: 3.2rem;
    margin: .2rem auto;
    padding: .15rem;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
.classification-wrap .item .mian{
    text-align: center;
    color: #212121;
    font-size: .24rem;
}
.classification-wrap .item .sub{
    text-align: center;
    color: #999999;
    font-size: .24rem;
}
.food{
    display: inline-block;
    line-height: .4rem;
    padding: 0 .15rem;
    border: .01rem solid #01b301;
    text-align: center;
    border-radius: .06rem;
    color: #01b301;
}
.food.err{
    border: .01rem solid #e00101;
    color: #e00101;
}